source/99.ejercicios/soluciones/prestamos/dtd/libro.dtd

<!ELEMENT libro (nombre, autor, año, editorial, ejemplares)>
<!ATTLIST libro      isbn        ID                      #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>

<!ELEMENT ejemplares (ejemplar+)>
<!ELEMENT ejemplar EMPTY>
<!ATTLIST ejemplar codigo        ID             #REQUIRED>

