source/02.validacion/files/ejxml1.recetas.dtd

<!ELEMENT recetas (receta+)>

<!ELEMENT receta (ingrediente+)>
<!ATTLIST receta id              ID                #REQUIRED
                 nombre          CDATA             #REQUIRED
                 preparacion     CDATA             #IMPLIED>

<!ELEMENT ingrediente EMPTY>
<!ATTLIST ingrediente nombre     CDATA             #REQUIRED
                      unidad     (pieza|gramo|cc)  #REQUIRED
                      cantidad   NMTOKEN           #REQUIRED>
